# MK Gourmet
NEXT_PUBLIC_STORE_NAME=MK Gourmet
ADMIN_PASSWORD=troque-esta-senha
AUTH_SECRET=troque-esta-chave-secreta
DATABASE_URL=mysql://USUARIO:SENHA@localhost:3306/MK_gourmet
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_seu-token
