# MK Gourmet
NEXT_PUBLIC_STORE_NAME=MK Gourmet
ADMIN_PASSWORD=troque-esta-senha
AUTH_SECRET=troque-esta-chave-secreta
DATABASE_URL=postgresql://postgres:SENHA@db.PROJETO.supabase.co:5432/postgres
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_seu-token
